* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

button {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 50%;
    font-size: 23px;
    align-items: center;
}

button:hover {
    background-color: #555;
    color: #fff;
    transition: background-color 0.3s ease;
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    outline: none;
    outline-offset: 2px;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}

button:active {
    transform: scale(0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    outline: none;
    outline-offset: 2px;
    transition: 0.1s ease-in-out;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: none 1px #333;
    padding: 20px 10px;
    box-sizing: border-box;
    white-space: nowrap;
    border-radius: 3px;
    position: relative;
    background-color:rgb(0, 0, 0);
    margin-top: 200px;
}

.div-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-button {
    grid-column: span 2;
    border-radius: 44%;
}

.input-wrapper {
    position: relative;
    width: 331.1px;
    top: 202px;
}

.result, .PreviousResult {
    width: 100%;
    position: absolute;
    left: 0;
}

.PreviousResult {
    top: -28px; /* Adjusted position */
    background-color: rgb(101, 101, 101);
    border: none;
    color: #000000;
    outline: none;
    font-size: 11px;
    text-align: end;
    border-radius: 4px;
    padding-right: 20px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif!important;
}

.result {
    position: relative;
    background-color: black;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: #ffffff;
    outline: none;
    font-size: 14px;
    text-align: end;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif!important;
}


.Entire-cal {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* This makes the entire calculator move together */
    margin-top: 50px;
    width: 350px; /* Adjust width for entire calculator */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}